<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-03-19T19:10:34Z</date>
	<key>WorkspacePath</key>
	<string>/Users/samali/Desktop/Sem2/EECS183/Projects/Project4_Battleship/Project4_Battleship.xcodeproj</string>
</dict>
</plist>
